<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- dependencies -->

  <!-- include ptu_d46 macro from flir_ptu_description -->
  <xacro:include filename="$(find flir_ptu_description)/urdf/d46.urdf.xacro" />
  <!-- include sick lms1xx macro from lms1xx -->
  <xacro:include filename="$(find lms1xx)/urdf/sick_lms1xx.urdf.xacro" />

  <!-- main lemonbot macro -->
  <xacro:macro name="lemonbot" params="prefix">

    <!-- links -->
    <!-- link: lemonbot_base_link -->
    <link name="${prefix}base_link" />
    <!-- link: lemonbot_camera_mount_link -->
    <link name="${prefix}camera_mount_link" />


    <!-- macros -->
    <!-- macro: ptu_d46 -->
    <xacro:ptu_d46 name="${prefix}ptu" />

    <!-- macro: sick_lms1xx -->
    <xacro:sick_lms1xx frame="${prefix}laser_optical_frame" />

    <!-- joints -->
    <!-- joint: base_link to ptu_joint -->
    <joint name="${prefix}base_link_to_ptu_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}ptu_base_link" />
    </joint>
    <!-- joint: ptu_mount_link to camera_mount_link -->
    <joint name="{prefix}_ptu_mount_link_to_${prefix}camera_mount_link_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}ptu_mount_link" />
      <child link="${prefix}camera_mount_link" />
    </joint>

    <!-- joint: ptu_mount_link to laser_optical_frame  -->
    <joint name="{prefix}ptu_mount_link_to_{prefix}laser_optical_link_joint" type="fixed">
      <origin
        xyz="-0.00862729  0.11007474  0.08132132"
        rpy="2.23239 -1.54198 -0.64552" />
      <parent link="${prefix}ptu_mount_link" />
      <child link="${prefix}laser_optical_frame" />
    </joint>

  </xacro:macro>
</robot>