<?xml version="1.0"?>
<!--<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="only_camera_system">-->
  <!--[><link name="ptu_mount_link" /><]-->
  <!--[>Include a descritpion of the asus camera (from the hector_sensors_description package)<]-->
  <!--<xacro:include filename="$(find blackbot_description)/urdf/kinect2.urdf.xacro"/>-->
  <!--[>Create the_camera instance, giving as input arguments the values for the estimated transformation<]-->
  <!--<xacro:kinect2_xacro prefix="camera" parent="ptu_mount_link">-->
    <!--<origin rpy="0 0 0" xyz="0 0 0"/>-->
  <!--</xacro:kinect2_xacro>-->
<!--</robot>-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="only_camera_system">
  <!--Include a descritpion of the asus camera (from the hector_sensors_description package)-->
  <xacro:include filename="$(find tangerinebot_description)/urdf/asus_camera.urdf.xacro"/>
  <!--Create the_camera instance, giving as input arguments the values for the estimated transformation-->
  <xacro:asus_camera name="camera" parent="ptu_mount_link">
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </xacro:asus_camera>
</robot>
