<launch>
    <node type="lemonbot_acquisition_node" pkg="lemonbot_acquisition" name="commander" required="true"></node>
    <node type="laser_projector" pkg="lemonbot_acquisition" name="projector">
        <remap from="input" to="registered" />
        <remap from="output" to="projected" />
    </node>
    <node type="pointcloud_transformer" pkg="lemonbot_acquisition" name="transformer">
        <remap from="input" to="projected" />
        <remap from="output" to="transformed" />
    </node>
    <node type="pointcloud_accumulator" pkg="lemonbot_acquisition" name="accumulator">
        <remap from="input" to="transformed" />
        <remap from="output" to="accumulator" />
    </node>
</launch>