<launch>
    <arg name="type" />
    <arg name="pan_min" />
    <arg name="pan_max" />
    <arg name="pan_vel" />
    <arg name="pan_nsteps" />
    <arg name="tilt_min" />
    <arg name="tilt_max" />
    <arg name="tilt_vel" />
    <arg name="tilt_nsteps" />
    <node type="single_acquisition_node" pkg="lemonbot_acquisition" name="acquisition" required="true">
        <param name="type" value="$(arg type)" />
        <param name="pan_min" value="$(arg pan_min)" />
        <param name="pan_max" value="$(arg pan_max)" />
        <param name="pan_vel" value="$(arg pan_vel)" />
        <param name="pan_nsteps" value="$(arg pan_nsteps)" />
        <param name="tilt_min" value="$(arg tilt_min)" />
        <param name="tilt_max" value="$(arg tilt_max)" />
        <param name="tilt_vel" value="$(arg tilt_vel)" />
        <param name="tilt_nsteps" value="$(arg tilt_nsteps)" />
        <remap from="laserscan" to="calibrated_laserscan" />
    </node>
    <node type="laser_projector" pkg="lemonbot_laser_pipeline" name="projector">
        <remap from="input" to="registered" />
        <remap from="output" to="projected" />
    </node>
    <node type="pointcloud_transformer" pkg="lemonbot_pointcloud_pipeline" name="transformer">
        <remap from="input" to="projected" />
        <remap from="output" to="transformed" />
    </node>

    <node type="pointcloud_accumulator" pkg="lemonbot_pointcloud_pipeline" name="accumulator">
        <remap from="input" to="transformed" />
        <remap from="output" to="accumulator" />
    </node>

    <node type="pointcloud_colorizer" pkg="lemonbot_pointcloud_pipeline" name="colorizer">
        <remap from="camera_info" to="/camera/camera_info" />
        <remap from="images" to="acquisition/images" />
        <remap from="input" to="result" />
        <remap from="output" to="colorized" />
    </node>

    <node type="pointcloud_to_pcd" pkg="pcl_ros" name="raw_saver">
        <remap from="input" to="result" />
        <param name="prefix" value="/home/lemonbot/data/acquisition_" />
    </node>

    <node type="pointcloud_to_pcd" pkg="pcl_ros" name="color_saver">
        <remap from="input" to="colorized" />
        <param name="prefix" value="/home/lemonbot/data/colorized_" />
        <param name="binary" value="true" />
        <param name="compressed" value="true" />
    </node>

</launch>
