<launch>
    <arg name="type" />
    <arg name="min" />
    <arg name="max" />
    <arg name="vel" />
    <arg name="nsteps" />
    <node type="single_acquisition_node" pkg="lemonbot_acquisition" name="acquisition" required="true">
        <param name="type" value="$(arg type)" />
        <param name="min" value="$(arg min)" />
        <param name="max" value="$(arg max)" />
        <param name="vel" value="$(arg vel)" />
        <param name="nsteps" value="$(arg nsteps)" />
    </node>
    <node type="laser_projector" pkg="lemonbot_acquisition" name="projector">
        <remap from="input" to="registered" />
        <remap from="output" to="projected" />
    </node>
    <node type="pointcloud_transformer" pkg="lemonbot_acquisition" name="transformer">
        <remap from="input" to="projected" />
        <remap from="output" to="transformed" />
    </node>
    <node type="pointcloud_accumulator" pkg="lemonbot_acquisition" name="accumulator">
        <remap from="input" to="transformed" />
        <remap from="output" to="accumulator" />
    </node>
    <node type="pointcloud_wait_for_done" pkg="lemonbot_acquisition" name="wait_for_done">
        <remap from="input" to="accumulator" />
        <remap from="output" to="result" />
    </node>
    <node type="pointcloud_to_pcd" pkg="pcl_ros" name="saver">
        <remap from="input" to="result" />
        <param name="prefix" value="/home/lemonbot/data/vel_" />
    </node>
</launch>