<launch>
    <arg name="size" />
    <arg name="len" />
    <arg name="camera" default="camera" />
    <node pkg="camera_calibration" type="cameracalibrator.py" name="camera_calibrator" args="--size $(arg size) --square $(arg len)">
        <remap from="image" to="$(arg camera)/image_raw" />
        <remap from="camera" to="$(arg camera)/rgb" />
    </node>
</launch>