<?xml version="1.0"?>
<launch>
  <arg name="calibrated" default="true"/>
  <arg name="enable_camera" default="false" />
  <arg name="ptu_port" default="/dev/ttyUSB1"/>
  <arg name="laser_port" default="/dev/ttyUSB0"/>
  <include file="$(find lemonbot_bringup)/launch/pan_tilt.launch">
    <arg name="port" value="$(arg ptu_port)" />
  </include>
  <group if="$(arg enable_camera)">
    <include file="$(find lemonbot_bringup)/launch/camera.launch"></include>
  </group>
  <include file="$(find lemonbot_bringup)/launch/laser.launch">
    <arg name="port" value="$(arg laser_port)" />
  </include>
  <group>
    <include file="$(find lemonbot_bringup)/launch/load_urdf.launch">
      <arg name="calibrated" value="$(arg calibrated)" />
    </include>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>
  <include file="$(find lemonbot_bringup)/launch/visualize.launch" />
</launch>